*{
    padding: 0;
    margin: 0;
}

body{
    background-image:linear-gradient(to right,#069998, #1c6363);
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}


input{
    outline: none;
    border:none;
    padding:4.8px;
    border-radius: 4px;
    margin:5px;
}

button{
    padding: .3rem .7rem .3rem .7rem;
    border:none;
    border-radius:4px;
    margin:1px;
    cursor:pointer;
}



.text-center{
    text-align:center;
}

.section-stopwatch{
    margin-top:5rem;
}

.space-buttons{
    margin-top:1rem;
}

.button-start{
    background:#06994f;
    color:#fff;
    font-weight: 600;
}

.stop{
    background:#f03e3e;
    color:#fff;
    font-weight: 600;
}

.restart{
    background:#d8c623;
    color:#fff;
    font-weight: 600;
}